<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>Calling Absa...........</h1>
        <h1>Calling.............</h1>
        <h1>How are you????/</h1>
        <a href="{% url 'absa' %}"><h1>Absa response</h1></a> //genric url mapping

        <h1>Every thinking is going good...........</h1>
        <h1>Calling.............</h1>
        <h1>How your life and work life gooing on....</h1>
        <a href="{% url 'ankur2' %}"><h1>response</h1></a>
    </center>
</body>
</html>